<div class="contain">
    <div class="row">
        <div class="col-3">
            <div class="list-group mt-3">
                <a class="btn btn-outline-primary" href="#" role="button">
                    <i class="fas fa-user-friends" aria-hidden="true"></i>
                     <div  style="text-align: center">
                        <h5 class="mb-1">Quản lý người dùng</h5>
                    </div>
                    <div  style="text-align: center">
                        <h5 class="mb-1">Quản lý Editor-Writer-Subscriber</h5>
                    </div>
                </a>
                <a class="btn btn-outline-success" href="#" role="button">
                    <i class="fa fa-backward" aria-hidden="true"></i>
                     <div  style="text-align: center">
                        <h5 class="mb-1">Quản lý người dùng</h5>
                    </div>
                    <div  style="text-align: center">
                        <h5 class="mb-1">Quản lý Editor-Writer-Subscriber</h5>
                    </div>
                </a>
                <a class="btn btn-outline-danger" href="#" role="button">
                    <i class="fa fa-backward" aria-hidden="true"></i>
                     <div  style="text-align: center">
                        <h5 class="mb-1">Quản lý người dùng</h5>
                    </div>
                    <div  style="text-align: center">
                        <h5 class="mb-1">Quản lý Editor-Writer-Subscriber</h5>
                    </div>
                </a>
                <a class="btn btn-outline-secondary" href="#" role="button">
                    <i class="fa fa-backward" aria-hidden="true"></i>
                     <div  style="text-align: center">
                        <h5 class="mb-1">Quản lý người dùng</h5>
                    </div>
                    <div  style="text-align: center">
                        <h5 class="mb-1">Quản lý Editor-Writer-Subscriber</h5>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>