{{#section 'css'}}
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.3/css/fileinput.min.css" media="all"
  rel="stylesheet" type="text/css" />
{{/section}}

{{#section 'js'}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.3/js/fileinput.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.3/themes/fa/theme.min.js"></script>
<script>
  $(function () {
    $('#fuMain').fileinput({
      theme: 'fa',
      dropZoneEnabled: false,
      allowedFileExtensions: ['png', 'jpg', 'gif'],
      uploadUrl: '/upload',
      uploadAsync: false,
    });
  })
</script>
{{/section}}

{{#ifeq authUser.PhanLoaiNguoiDung 'Writer'}}
<div class="shadow" >
    <h4 class="card-header" >
        Upload
    </h4>
    <div class="card-body">
        <form method="POST">
            <div class="form-group">
                <label for="fuMain">Ảnh</label>
                <div class="file-loading">
                    <input id="fuMain" name="fuMain" type="file" multiple>
                </div>
            </div>
        </form>
    </div>
</div>
{{else}}
<div class="alert alert-danger" role="alert">
  Không có quyền truy bập <a href="/" class="alert-link">Trờ lại</a>
</div>
{{/ifeq}}


