<div class="shadow" >
    <h4 class="card-header" >
        Chuyên mục mới
    </h4>
    <div class="card-body">
        <form method="POST">
            <div class="form-group">
                <label for="exampleInputEmail1">Thêm chuyên mục</label>
                <input type="text" class="form-control" id="txtNewChuyenmuc" name="TenChuyenMucCap2"
                    placeholder="Tên chuyên mục mới" autofocus>
            </div>
            <a class="btn btn-primary" href="/Admin/chuyenmuc" role="button">
                <i class="fa fa-backward" aria-hidden="true"></i>
                Back
            </a>
            <button type="submit" class="btn btn-success">
                <i class="fa fa-check" aria-hidden="true"></i>
                Save
            </button>
        </form>
    </div>
</div>