<div class="card showdow">
    <h4 class="card-header">
        Danh Sach Chuyen Muc Bai Viet
    </h4>
    <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">IDChuyenMuc</th>
      <th scope="col">TenChuyenMuc</th>
      <th scope="col" class="text-right">
        <a class="btn btn-outline-success" href="/Admin/chuyenmuc/add" role="button">
          <i class="fa fa-plus" aria-hidden="true"> Thêm chuyên mục</i>
        </a>
      </th>
    </tr>
  </thead>
  <tbody>
    {{#each this.chuyenmucbaiviet}}
        <tr>
          <th scope="row">{{IdChuyenMuc}}</th>
          <td>{{TenChuyenMuc}}</td>
          <td class="text-right">
            <a class="btn btn-primary btn-sm" href="/Admin/chuyenmuc/edit/{{IdChuyenMuc}}" role="button">
              <i class="fa fa-pencil" aria-hidden="true"> </i>
            </a>
          </td>
        </tr>
    {{/each}}
  </tbody>
</table>
</div>
