{{#ifeq authUser.PhanLoaiNguoiDung 'Admin'}}
<div class="shadow">
    <h4 class="card-header">
        Chuyên mục mới
    </h4>
    <div class="card-body">
        <form method="POST">
            <div class="form-group">
                <label for="txtNewChuyenMuc">Thêm chuyên mục</label>
                <input type="text" class="form-control" id="txtNewChuyenmuc" name="TenChuyenMuc"
                    placeholder="Tên chuyên mục mới" autofocus>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Tên chuyên mục lớn</label>
                <select name="IdChuyenMucCap2">
                    {{#each lcchuyenmuc2s}}
                    <option value="{{IdChuyenMucCap2}}">{{TenChuyenMucCap2}}</option>
                    {{/each}}
                </select>
            </div>
            <a class="btn btn-primary" href="/Admin/chuyenmucnho" role="button">
                <i class="fa fa-backward" aria-hidden="true"></i>
                Back
            </a>
            <button type="submit" class="btn btn-success">
                <i class="fa fa-check" aria-hidden="true"></i>
                Save
            </button>
        </form>
    </div>
</div>
{{else}}
<div class="alert alert-danger" role="alert">
    Không có quyền truy bập <a href="/" class="alert-link">Trờ lại</a>
</div>
{{/ifeq}}